<div class="rest-dish-card">
    <img src="{{dish.name}}" alt="">
    <div class="rest-dish-body">
        <h3>{{dish.name}}</h3>
        <h2 class="ratings sm-stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
        </h2>
        <div class="dish-actions">
            <button class="btn rest-dish-btn">View</button>

            <button class="btn rest-dish-btn mg-left-2">Add</button>
        </div>
    </div>
</div>