{% extends 'restaurant/base.html' %}

{% block content %}

<div class="dashboard">
    <div class="dashboard-headline-section">
        <h1 class="headline">Update Dish</h1>
    </div>

    <div class="form-container">
        <form class="form login-form" method="POST" enctype="multipart/form-data" id="dishForm">
            {% csrf_token %}
            <div class="form-controls">
                <label>{{form.name.label }}</label>
                {{form.name}}
            </div>
            <div class="form-controls">
                <label>{{form.price.label}}</label>
                {{form.price}}
            </div>

            <div class="form-controls">
                <label>{{form.description.label}}</label>
                {{form.description}}
            </div>

            <div class="form-controls">
                <label>{{form.category.label}} </label>
                {{form.category}}

            </div>

            <div class="form-controls">
                <label>{{form.image.label}}</label>
                {{form.image}}
            </div>
            <div class="form-controls">
                <input type="submit" class="btn-update" value="Update">
            </div>
        </form>
        
    </div>
</div>


<script>
   
</script>




{% endblock content %}