{% extends 'administrator/base.html' %} {% load restFilters %} {% block content %}

<div class="dashboard">
    <div class="dashboard-headline-section">
        <h1 class="headline">{{page_name}}</h1>
        
    </div>

    <div class="table-container">
        <table class="table dish-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Owner</th>
                    <th>E-mail</th>
                    <th>Phone</th>
                    <th>Address</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>

                {% for restaurant in restaurants %}
                <tr id={{restaurant.id}}>
                    <td>{{restaurant.name}}</td>
                    <td>{{restaurant.customer.first_name}} {{restaurant.customer.last_name}} </td>
                    <td>{{restaurant.customer.email}}</td>
                    <td>{{restaurant.customer.phone}}</td>
                    <td>{{restaurant.address}}</td>
                   
                    <td>
                        <div class="actions">
                            <a href="" class="btn-a btn-action btn-edit">
                                    <i class="fas fa-ban btn-icon mgright-1 {% if restaurant.blocked %}btn-danger{% endif %}"></i>
                            </a>

                             <a href="" class="btn-a btn-action btn-online">
                                <i class="fas fa-circle btn-icon {% if restaurant.active_status %}btn-success{% endif %}"></i>
                            </a>
                        </div>
                    </td>
                </tr>
                {% endfor %}



            </tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {

         $(".btn-online").click(function (e) {
            e.preventDefault();
            const parent = $(this).parents("tr")
            const restID = parent.attr("id")
            const childI = $(this).find("i")
            const isOnline = childI.hasClass("btn-success")
            const decision = isOnline ? confirm("Do you want to deactivate restaurant") : confirm("Do you want to activate restaurant?")

            if (decision) {
                if (isOnline) {
                    $.ajax({
                        url: "",
                        type: "GET",
                        data: {
                            restID,
                            "action": "deactivate"
                        },
                        success: (data) => {
                            
                            if (data.success) {
                                childI.removeClass("btn-success")
                            }
                        }
                    })
                } else {
                    $.ajax({
                        url: "",
                        type: "GET",
                        data: {
                            restID,
                            "action": "activate"
                        },
                        success: (data) => {
                          
                            if (data.success) {
                                childI.addClass("btn-success")
                            }
                        }
                    })
                }
            }

        })

         $(".btn-edit").click(function (e) {
            e.preventDefault()
            const parent = $(this).parents("tr")
            const restID = parent.attr("id")
            const childI = $(this).find("i")
            const isBlocked = childI.hasClass("btn-danger")
        
            const decision = isBlocked ? confirm("Do you want to unblock restaurant") : confirm("Do you want to block restaurant?")

            if (decision) {
                if (isBlocked) {
                    $.ajax({
                        url: "",
                        type: "GET", 
                        data: {
                            restID,
                            "action": "unblock"
                        },
                        success: (data) => {
                            
                            if (data.success) {
                                childI.removeClass("btn-danger")
                            }
                        }
                    })

                } else {
                    $.ajax({
                        url: "",
                        type: "GET",
                        data: {
                            restID,
                            "action": "block"
                        },
                        success: (data) => {
                            
                            if (data.success) {
                                childI.addClass("btn-danger")
                            }
                        }
                    })
                }
            }
        })
        

    })
</script>

{% endblock content %}